<!DOCTYPE html>
<html lang="en">
<head>
  <title>Take Care Your Health Example</title>
  <link rel="icon" type="image/gif" href="img_mountains_wide.jpg" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src = "https://maps.googleapis.com/maps/api/js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/Slide_Style.css">
  <script type="text/javascript"src="static/Slide_Jquery.js"></script>
    <script>
  function startDictation() {
      alert("shivam");

    if (window.hasOwnProperty('webkitSpeechRecognition')) {

      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = "en-US";
      recognition.start();

      recognition.onresult = function(e) {
        document.getElementById('transcript').value
                                 = e.results[0][0].transcript;
        recognition.stop();
        document.getElementById('labnol').submit();
      };

      recognition.onerror = function(e) {
        recognition.stop();
      }

    }
  }
</script>
</head>
<article>
  <nav class="navbar " data-spy="affix" style="margin-bottom: 0px;  background-color:white;">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#" style="font-size: 25px; margin-left: 100px; margin-right: 50px;">Doctor On The Way</a>
      </div>
     <div class="collapse navbar-collapse"  id="myNavbar">
      <ul class="nav navbar-nav" style="margin-left: 8px;">
        <li id="nav-left"  ><a style="padding-top: 25px; padding-bottom: 25px;" >Doctors</a></li>
        <li id="nav-left1"><a style="padding-top: 25px; padding-bottom: 25px;">Suggestion</a></li>
        <li id="nav-left2"><a style="padding-top: 25px; padding-bottom: 25px;" >Treatment</a></li>
        <li id="nav-left3" ><a style="padding-top: 25px; padding-bottom: 25px;">Facilities</a></li>
        <li style="padding:12px; display: none; position:absolute; background-color: white; " id="search_doctor"><input type="search" name='search' placeholder="Search " style="background-color: initial; position: relative; top: 5px;
    color: white;
    /* margin-top: 12px; */
    border: none;
    border-bottom: outset;
    width: 350px;">
        </li>
        <span class="glyphicon glyphicon-search" id="shivam"style="font-size: 30px;margin-left: 7px; top:15px;"></span>
     
       </ul>
         <ul class="nav navbar-nav " style="margin-left: 75px; margin-top: 5px;">
      
         <li style="top:10px; margin-right:15px;margin-left: -20px; "><button  id="myReport" style="font-size: 15px;color: #F44336; border-color: #F44336;" class="btn btn-default">My Reports</button></li>
         <li style="top:10px; "><button id="myAppointments" style="font-size: 15px;color: #F44336;background-color:#F44336; color:white ;" class="btn btn-default">Emergency Call</button></li>
       </ul>
         <ul class="nav navbar-nav navbar-right" id="signupandin">
          <li class="dropdown" style="margin-left: 20px;">
        <a  class="dropdown-toggle" data-toggle="dropdown" href="#"  style="padding-top: 25px; padding-bottom: 25px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <ul class="dropdown-menu">
          <li><a href="#" data-backdrop="static" id="sign"   style="padding-top: 25px; padding-bottom: 25px;">Hospital</a></li>
          <li><a href="#" data-backdrop="static" id="sign1"   style="padding-top: 25px; padding-bottom: 25px;">Doctor</a></li>
          <li><a href="#" data-backdrop="static" id="sign2"  style="padding-top: 25px; padding-bottom: 25px;">Patient</a></li>
        </ul>
      </li>
        <li><a data-backdrop="static" id="log"  style="padding-top: 25px; padding-bottom: 25px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="after-sign" style="display: none;">
         <li class="dropdown">
          <a  style="padding-top: 25px; padding-bottom: 25px;" class="dropdown-toggle" data-toggle="dropdown" href="#">UserName <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="#">ForgetPassword</a></li>
            <li><a href="#">All Transaction</a></li>
             <li><a id="logout" style="cursor: pointer;">LogOut</a></li>
          </ul>
        </li>
      </ul>
        
      <i class='arrow up' id="arrow-top" style='   font-size: 10px; width: 30px; height: 30px; background-color: lavender; top: 57px; border: solid; border-width: 1px 0 0 1px; border-color: red; transform: rotate(45deg); position: relative; left: -150px; display: none; '></i>
    </div>
  </div>
</nav>
</article>
<body>
    #slide
<div class="carousel slide" data-ride="carousel" id="mycarousel">
  <ol class="carousel-indicators">
    <li data-target="mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="mycarousel" data-slide-to="1"></li>
    <li data-target="mycarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption">
       <h3 text="top">Mountains wide</h3>
      </div>
      <img src="static/doctor1.jpg" style="width:100%;height:auto;" alt="mountains wide">
    </div>
    <div class="item">
      <img src="static/doctor2.jpg" style="width:100%;height:auto;" alt="nature wide">
      <div class="carousel-caption">
        <h3>Nature wide</h3>
      </div>
    </div>
    <div class="item">
      <img src="static/img_snow_wide.jpg" style="width:100%;height:auto;" alt="snow wide">
      <div class="carousel-caption">
        <h3>Snow wide</h3>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#mycarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
     <span class="sr-only">next</span>
  </a>
</div>

  <div class="container-fluid" style="width: 100%; border: solid; ">
  <p style="font-size: 35px; text-align: center;    color: cornflowerblue;">Centres of Excellence</p>
  <p style="font-size: 25px; text-align: center;">Combining the best specialists and equipment to provide you nothing short of the best in healthcare</p>

  <div class="carousel slide" data-ride="carousel" id="HealthcareSlide">
  <ol class="carousel-indicators">
    <li data-target="mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="mycarousel" data-slide-to="1"></li>
    <li data-target="mycarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active" >
      <div class="carousel-caption">
       <h3 text="top">Mountains wide</h3>
      </div>
      <img src="static/doctor1.jpg" style="width:100%;height:auto;" alt="mountains wide">
    </div>
    <div class="item">
      <img src="static/doctor2.jpg" style="width:100%;height:auto;" alt="nature wide">
      <div class="carousel-caption">
        <h3>Nature wide</h3>
      </div>
    </div>
    <div class="item">
      <img src="static/img_snow_wide.jpg" style="width:100%;height:auto;" alt="snow wide">
      <div class="carousel-caption">
        <h3>Snow wide</h3>
      </div>
    </div>
    <div class="item">
      <img src="static/img_snow_wide.jpg" style="width:100%;height:auto;" alt="snow wide">
      <div class="carousel-caption">
        <h3>Snow wide</h3>
      </div>
    </div>
    <div class="item">
      <img src="static/img_snow_wide.jpg" style="width:100%;height:auto;" alt="snow wide">
      <div class="carousel-caption">
        <h3>Snow wide</h3>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#HealthcareSlide" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#HealthcareSlide" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
     <span class="sr-only">next</span>
  </a>
</div>


  
</div>


#middle
<div class="carousel Fade" data-interval="1000" data-ride="carousel" id="mycarousel">
  <div class="carousel-inner">
    <div class="item active container-fluid">
     <div style="float:right;width:50%;height: 500px;">
        <img src="static/doctor1.jpg" class="img-responsive" style="height:500px;" >
    </div>
    <div style="float:left;width:50%;height: 500px;">
         <h2>Related the image</h2>
    </div>
    </div>
    <div class="item container-fluid">
      <div style="float:right;width:50%;height: 500px;" >
        <img src="static/doctor2.jpg" class="img-responsive" style="height: 500px;" >
    </div>
    <div style="float:left;width:50%;height: 500px;">
         <h2>Related the image</h2>
    </div>
    </div>
  </div>
</div>
<div class="carousel Fade" data-interval="1000" data-ride="carousel" id="mycarousel">
  <div class="carousel-inner">
    <div class="item active container-fluid">
     <div style="float:left;width:50%;height: 500px;">
        <img src="static/doctor1.jpg" class="img-responsive" style="height:500px;" >
    </div>
    <div style="float:left;width:50%;height: 500px;">
         <h2>Related the image</h2>
    </div>
    </div>
    <div class="item container-fluid">
      <div style="float:left;width:50%;height: 500px;" >
        <img src="static/doctor2.jpg" class="img-responsive" style="height: 500px;" >
    </div>
    <div style="float:left;width:50%;height: 500px;">
         <h2>Related the image</h2>
    </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" style="color:black; width: 25px;border-radius: 100%; opacity: .7; font-size: 25px;" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Profile</h4>
        </div>
        <div class="modal-body">
          <form action="signup" method="post">
     <div class="form-inline">
    <div class="form-group">
      <label for="name">First Name :</label>
      <input type="text" class="form-control" name="ufname">
    </div>
        <div class="form-group">
      <label for="lastname">Last Name :</label>
      <input type="text" class="form-control" name="ulname">
    </div>
</div><br/>
    <div class="form-group">
      <label for="email"> Email :</label>
      <input type="email" class="form-control" name="email">
    </div>
     <div class="form-inline">
      <label for="gender">Gender :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <div class="radio">
      <label for="male">
      <input type="radio"  name="gender">Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
    </div>
    <div class="radio">
      <label for="female">
      <input type="radio"  name="gender">Female</label>
    </div>
  </div><br/>
    <div class="form-group">
      <label for="bdate">Date of Birth : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
      <input type="date"  name="bdate">
    </div>
   
   <div class="form-inline">
      <label for="blood">Blood Group :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <div class="radio">
      <label for="O+">
      <input type="radio"  name="blood">O+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
    </div>
     <div class="radio">
      <label for="O-">
      <input type="radio"  name="blood">O-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
    </div>
    <div class="radio">
      <label for="other">
      <input type="radio"  name="blood">other</label>
    </div>
  </div><br/>
    <div class="form-group">
      <label for="mobile">Mobile No. :</label>
      <input type="number" class="form-control" name="mobileno">
    </div>
    <div class="form-group">
      <label for="name">Address :</label>
      <textarea rows="2" class="form-control" name="address"></textarea>
    </div>
     <div class="form-group">
      <label for="lastname">State :</label>
      <input type="text" class="form-control" name="ustate">
    </div>
     <div class="form-group">
      <label for="lastname">City :</label>
      <input type="text" class="form-control" name="ucity">
    </div>
    <div class="checkbox">
    <label><input type="checkbox"><a href="#">Terms & condition</a> </label>
  </div>
    <div class="form-inline">
     <input type="submit" class="form-control" value="Submit">
     <input type="reset" class="form-control" value="Reset">
    </div>
  </form>
</div>
</div>    
</div>
</div>
 <div class="modal slide" id="suggestion" role="dialog" style="top:42px;">
    <div class="modal-dialog" style="margin-left: 125px; width: 1010px;">
    
      <!-- Modal content-->
      <div class="modal-content"id="check1"style="border-radius: 0px; padding: 120px; border-top-color: red; ">
          <form id="labnol" method="get" action="https://www.google.com/search">
  <div class="speech">
    <input type="search" name="q" id="transcript"  placeholder="speak for search" style="    border-radius: 25px;
    width: 600px;
    padding: 15px;" />
    <i class="fa fa-microphone search" style="font-size: 30px;
    color: black;
    margin-left: px;
    left: -170px;
    top: 10px;
    /* border: solid 1px black; */
    padding: 10px;
    position: relative;" onclick="startDictation()"></i>
  </div>
</form>

<!-- HTML5 Speech Recognition API -->
<script>
  function startDictation() {

    if (window.hasOwnProperty('webkitSpeechRecognition')) {

      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = "en-US";
      recognition.start();

      recognition.onresult = function(e) {
        document.getElementById('transcript').value
                                 = e.results[0][0].transcript;
        recognition.stop();
        document.getElementById('labnol').submit();
      };

      recognition.onerror = function(e) {
        recognition.stop();
      }

    }
  }
</script>
      </div>
      
    </div>
 </div>
 <div class="modal fade" id="mymodal" role="dialog" style="top: 65px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" style="color:black; width: 25px;border-radius: 100%; opacity: .7; font-size: 25px;" data-     dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" id="login" action="profile.html" method="post">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email or phone no.">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox">Show password</label>
            </div>
            <br/>
            <a href="" style="text-decoration:none;color:black;" id="logina">Forget password</a>
            <br/><br/>
            <a data-dismiss="modal" id="myBtn">Sign up</button>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <input type="submit" class="btn btn-success btn-block" value="Submit" id="login1"><span class="glyphicon glyphicon-off"></span>
          </form>
        </div>
    </div>
   </div>
</div> 


  <div class="container-fluid">
      <div class="row">
     
     <div class="container-fluid col-lg-4" id="check">
        <div id="id1" style="display: flex; height: 80px;"  >
            <img src="static/img_nature_wide.jpg" class="img-circle img-responsive" style="width: 30%; margin-right: 12px; height:100%; ">
            <h4 style="position: relative; top:30px;text-align: center;">Name of the doctor</h4>
        </div>
        <div class="container">
            <h4>Specilist</h4>
            <h4>Experience</h4>
        </div>
     </div>
      <div class="container-fluid col-lg-4" id="check">
        <div id="id1" style="display: flex; height: 80px;"  >
            <img src="static/img_nature_wide.jpg" class="img-circle img-responsive" style="width: 30%; margin-right: 12px; height:100%; ">
            <h4 style="position: relative; top:30px;text-align: center;">Name of the doctor</h4>
        </div>
        <div class="container">
            <h4>Specilist</h4>
            <h4>Experience</h4>
        </div>
     </div>
     <div class="container-fluid col-lg-4" id="check">
        <div id="id1" style="display: flex; height: 80px;"  >
            <img src="static/img_nature_wide.jpg" class="img-circle img-responsive" style="width: 30%; margin-right: 12px; height:100%; ">
            <h4 style="position: relative; top:30px;text-align: center;">Name of the doctor</h4>
        </div>
        <div class="container">
            <h4>Specilist</h4>
            <h4>Experience</h4>
        </div>
     </div>
      </div>
      <div class="row">
    <div class="container-fluid col-lg-4" id="check">
        <div id="id1" style="display: flex; height: 80px;"  >
            <img src="static/img_nature_wide.jpg" class="img-circle img-responsive" style="width: 30%; margin-right: 12px; height:100%; ">
            <h4 style="position: relative; top:30px;text-align: center;">Name of the doctor</h4>
        </div>
        <div class="container">
            <h4>Specilist</h4>
            <h4>Experience</h4>
        </div>
     </div>
      <div class="container-fluid col-lg-4" id="check">
        <div id="id1" style="display: flex; height: 80px;"  >
            <img src="static/img_nature_wide.jpg" class="img-circle img-responsive" style="width: 30%; margin-right: 12px; height:100%; ">
            <h4 style="position: relative; top:30px;text-align: center;">Name of the doctor</h4>
        </div>
        <div class="container">
            <h4>Specilist</h4>
            <h4>Experience</h4>
        </div>
     </div>
     <div class="container-fluid col-lg-4" id="check">
        <div id="id1" style="display: flex; height: 80px;"  >
            <img src="static/img_nature_wide.jpg" class="img-circle img-responsive" style="width: 30%; margin-right: 12px; height:100%; ">
            <h4 style="position: relative; top:30px;text-align: center;">Name of the doctor</h4>
        </div>
        <div class="container">
            <h4>Specilist</h4>
            <h4>Experience</h4>
        </div>
     </div>
      </div>
      <div class="container-fluid">
      <a class="btn btn-md btn-info" style="margin-left: 45%;margin-bottom: 5px;">View More</a>
      </div>
    </div>

</body>
    #footer
  <div   style="background-image:url('static/logo.jpg'); height:400px;background-size: 100%">
    <div class="container-fluid" style="     height: inherit;text-align: center;   background-color: #1f1c1cad;color: white;">
    <h1 style="top: 50px;position: relative;">Give it a try before your commit</h1>
    <h4 style="top: 70px;position: relative;">You can test drive before deciding on one of plans .Just give us your<br/> email address, and we'lsend you the details.</h4>
    </div>
  </div>
  <footer style="    background: #2196F3;font-size: 15px;height: 70px;">
    <a href="" id="footer-main">ABOUT</a>
    <a href="" id="footer-main">CONTACT US</a>
    <a href="" id="footer-main">PRIVACY POLICY</a>
    <a href="" id="footer-main">TERMS</a>
    <div style="margin-right: 20px;float: right; top: 15px; position: relative;" >
        <a href="#"  title="Twitter"><i id="tag1" style="color: white;" class="fa fa-twitter"></i></a>
        <a href="#"  title="Google"><i id="tag1" style="color: white;" class="fa fa-google"></i></a>
        <a href="#"  title="Facebook"><i id="tag1" style="color: white;"  class="fa fa-facebook"></i></a>
        <a href="#"  title="Dribble"><i id="tag1" style="color: white;" class="fa fa-dribbble"></i></a> 
    </div>
  </footer>
</html>





